<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="./tests/autoload.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false">
  <testsuites>
    <testsuite name="Routers Tests">
      <directory suffix="Test.php">./tests/Routers</directory>
    </testsuite>
    <testsuite name="Api Tests">
      <directory suffix="Test.php">./tests/Api</directory>
    </testsuite>
    <testsuite name="Oauth2 Tests">
      <directory suffix="Test.php">./tests/Oauth2</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="DB_DRIVER" value="sqlite" force="true" />
    <env name="DB_HOST" value="" force="true" />
    <env name="DB_DATABASE" value=":memory:" force="true" />
    <env name="DB_USERNAME" value="" force="true" />
    <env name="DB_PASSWORD" value="" force="true" />
    <env name="OAUTH2_STORAGE_TYPE" value="PDO" force="true" />
  </php>
</phpunit>
